In [2]:
import pandas as pd

In [3]:
src_dir = "../../Data/Tezos/Processed/"
dest_dir = "../../Data/Tezos/Final/"

## Join Voting data

In [11]:
df1 = pd.read_csv(src_dir + "Voting_daily_stats.csv")
df2 = pd.read_csv(src_dir + "Tzstats_voting_daily.csv")

In [13]:
df = pd.concat([df1, df2], axis= 1)
df.to_csv(dest_dir + "Voting.csv", index=False)

## Supply data

In [14]:
df1 = pd.read_csv(src_dir + "Tzstats_supply_daily.csv")
df1.head()

,date,height,cycle,time,total,activated,unclaimed,circulating,liquid,delegated,staking,active_delegated,active_staking,inactive_delegated,inactive_staking,minted,burned,frozen
0,2018-07-03,4679,1,1530576000000,7.643183e+08,2.704409e+08,4.938777e+08,2.704406e+08,2.704174e+08,2.049396e+08,2.153482e+08,2.049396e+08,2.153482e+08,0.0,0.0,16.0,297.391,23202.324383
1,2018-07-04,6118,1,1530662400000,7.643182e+08,2.782212e+08,4.860974e+08,2.782208e+08,2.781404e+08,2.072192e+08,2.201187e+08,2.072192e+08,2.201187e+08,0.0,0.0,16.0,379.877,80454.625651
2,2018-07-05,7549,1,1530748800000,7.643182e+08,2.929948e+08,4.713238e+08,2.929944e+08,2.928569e+08,2.142015e+08,2.326753e+08,2.142015e+08,2.326753e+08,0.0,0.0,16.0,444.641,137487.540175
3,2018-07-06,8977,2,1530835200000,7.643181e+08,3.020691e+08,4.622494e+08,3.020687e+08,3.018432e+08,2.169808e+08,2.378547e+08,2.169808e+08,2.378547e+08,0.0,0.0,32.0,488.588,225483.259465
4,2018-07-07,10408,2,1530921600000,7.643181e+08,3.072372e+08,4.570814e+08,3.072367e+08,3.068975e+08,2.197491e+08,2.412647e+08,2.197491e+08,2.412647e+08,0.0,0.0,32.0,532.792,339179.380141

In [15]:
df1.drop(["height", "cycle", "time"], axis=1, inplace=True)

In [16]:
df1.to_csv(dest_dir + "Supply.csv", index=False)

## Market data

In [9]:
df1 = pd.read_csv(src_dir + "Cointg_OHLC.csv")
df2 = pd.read_csv(src_dir + "TZ_market.csv")

In [11]:
df2.rename({"Date":"date"}, axis=1, inplace=True)

In [13]:
df = pd.merge(df2, df1, how="left", on="date")
df.to_csv(dest_dir + "MarketAndPrice.csv", index=False)